body {
    margin: 0;
    padding: 0;
    border: 0;
    background-size: cover;
    /*para a imagem pagar a tela toda */
    background-image: url(mortal-kombat-11-bosslogic_4vdm.jpg);
    /*imagem fundo */
    background-repeat: no-repeat;
    /*para a imagem não repetir */


}

/*Inicio Cabeçalho */
.cabecalho {

    padding-top: 10px;
    background: hsl(20, 14%, 4%, 0.8);
    width: 100%;
    height: 80px;
    color: white;
    border-bottom: 5px solid red;

}



.caixa {
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.list_not {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;

}


.list_not:hover {
    color: #cb1d11;
    /*mudar a cor da lista para vermelho */
}



.cabecalho nav {
    float: right;
    margin: 0%;
    /*para deixar a lista do lado direito da tela*/
}



a {
    color: inherit;
    text-decoration: none;
    /*estilo da lista */
}


.caixa_cadastro{

    margin-left: 100px;
    margin-top: 50px;
    margin-right: 80px;

}

b {
    color: white;
}

.input_padrao{
  
    width: 500px;
    height: 25px;
}



.btn_cadastro{

    text-align: center;
  color: red;
  margin-left: 620px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  background-color: red;
  border: 0px;
  /* borda do botão */
  padding: 20px 60px;
  /* tamanho do botão */
  border-radius: 5px;
  /* estilo no botão */
  cursor: pointer;
  /* efeito no click */
  margin: 0;
  margin-top: 12px;
  margin-left: 2px;
}

 
.rodape {
    background: hsl(20, 14%, 4%, 0.8);
    color: white;
    width: 100%;
    height: 100px;
    padding-top: 2%;
    margin-top: 6%;

}

.box_rodape {
    
    margin: 0 auto;
}

.logoMK {
    height: 80px;
    float: left;
    margin: 0%;

}

.copyright {
    text-align: center;
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 440px;
    margin-top: 35px;

}

.logo_bandtec {
    height: 80px;
    float: right;
}  